.cart-container {
	position: relative;
	border: 2px solid red;
	border-radius: 10px;
	min-height: 400px;
	padding: 15px;
	width: 45%;
	align-self: flex-start;
}

.cart-wrapper {
	display: flex;
	justify-content: space-between;
}

.cart-placeholder {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	font-weight: bold;

	&__link {
		display: block;
		color: red;
		font-size: 28px;
	}
}

